@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
}

header,
body,
footer {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500; /* Düzeltilmiş: medium yerine */
  color: var(--navy-blue);
}

p {
  font-size: 16px;
  font-weight: normal; /* Düzeltilmiş: regular yerine */
  color: var(--slate);
}
a {
  color: inherit;
}
.address {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: var(--navy-blue);
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.address:hover,
.address:active {
  color: var(--iris);
}

.logo,
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.logo > span {
  color: var(--navy-blue);
}

.navi {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32; /* Düzeltilmiş */
  line-height: 1.5;
}

.navi:hover,
.navi:active {
  color: var(--ocean);
}

.section-1 {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 600px;
}

.button {
  color: white;
  background-color: var(--iris);
  font-weight: 500; /* medium yerine */
  font-size: 16px;
  letter-spacing: 0.64px; /* Düzeltilmiş */
  text-align: center;
  width: 169px;
  height: 56px;
  border-radius: 4px; /* Düzeltilmiş */
  line-height: 1.5;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: var(--ocean);
}

.section-3 {
  background-color: var(--cloud);
}

.section-3 .images {
  width: 264px;
  height: 260px;
}

.section-4 .images {
  width: 360px;
  height: 300px;
}

ul,
ol {
  list-style-type: none;
}

footer {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 312px;
}

.footer-logo > span {
  color: var(--cloud);
}

footer > .footer-text {
  color: var(--cloud);
}
