@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
}
header,
body,
footer {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: medium;
  color: var(--navy-blue);
}
p {
  font-size: 16px;
  font-weight: regular;
  color: var(--slate);
}

.address {
  font-size: 16px;
  font-weight: regular;
  font-style: normal;
  color: var(--navy-blue);
}
.address:hover,
address:active {
  color: var(--iris);
}
.logo,
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.logo > span {
  color: var(--navy-blue);
}
.navi {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: regular;
  letter-spacing: %2;
  line-height: 1.5;
}
.navi:hover {
  color: var(--ocean);
}
.navi:active {
  color: var(--ocean);
}

.section-1 {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 600px;
}
.button {
  color: white;
  background-color: var(--iris);
  font-weight: medium;
  font-size: 16px;
  letter-spacing: %4;
  text-align: center;
  width: 169px;
  height: 56px;
  radius: 4px;
}
.button:hover {
  background-color: var(--ocean);
}

.section-3 {
  background-color: var(--cloud);
}

.section-3 .images {
  width: 264px;
  height: 260px;
}

.section-4 .images {
  width: 360px;
  height: 300px;
}

ul,
ol {
  list-style-type: none;
}
footer {
  background-color: var(--navy-blue);
}
footer > p {
  color: var(--cloud);
}

.footer-logo > span {
  color: var(--cloud);
}
